# Rust
/target
**/target

# ink! / cargo-contract
*.contract
*.wasm
*.json

# coverage
*.profraw

# editor
.vscode/

# Archivos de coverage
*.profraw
tarpaulin-report.html

 # Coverage / build
coverage/
**/coverage/
*.profraw
*.d
target/

 