name: Rust tests

on:
  push:
    branches:
      - test_contrato2
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y clang cmake pkg-config libssl-dev protobuf-compiler

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

